[[source]]
url = "https://pypi.mirrors.ustc.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
arrow = "*"
click = "*"
requests = ">=2.20.0"
sqlalchemy = ">=1.3.0"
pymysql = "*"
ipython = "*"

[dev-packages]
yapf = "*"
pylint = "*"

[requires]
python_version = "3.6"
